.profilebox {
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 7vmax;
}
.avatar {
    width: 20vmax;
    aspect-ratio: 1/1;
    background-color: rgb(33, 32, 32);
    align-self: center;
    position: relative;
    top: 2%;
    border-radius: 50%;
    background-size: cover;
    transition: all 1s ease 0s;
    border: 2px solid #4257FF;
    overflow: visible;
    margin: 0 auto;
}
.avatar::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: -5px; /* mở rộng ra ngoài */
    border: 10px solid #4257FF;
    filter: blur(8px);
    z-index: 1;
}
/* Animation avatar */

.avatar:hover {
    transform: scale(1.25);
}

.btn {
    width: 35vmax;
   height: 10vmax;
    background-color: black;
    color: white;
    border-radius: 5vmax;
    background: #71D9E3;
    background: linear-gradient(to right, #71D9E3 0%, #4257FF 100%);
    border: none;
    font-weight: bold;
}
.facebook {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 4vmax;
    transition: all 0.5s ease 0s;
    outline: none;
    cursor: pointer;
    text-shadow: 0 0 5px;
    box-shadow: 0 0 1em 0.1em #4257FF;
}
.facebook:hover {
    transform: scale(1.25);
}
.github {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 4vmax;
     transition: all 0.5s ease 0s;
     cursor: pointer;
     text-shadow: 0 0 5px;
    box-shadow: 0 0 1em 0.1em #4257FF;
}
.github:hover {
    transform: scale(1.25);
}
.youtube {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 4vmax;
     transition: all 0.5s ease 0s;
     cursor: pointer;
     text-shadow: 0 0 5px;
    box-shadow: 0 0 1em 0.1em #4257FF;
}
.youtube:hover {
    transform: scale(1.25);
}
@media (min-width: 1024px) {
 .profilebox {
     gap : 8vmin;
 }
 .avatar {
    width: 30vmin;
 }
 .btn {
    width: 50vmin;
   height: 15vmin;
 }
}
@media (min-width: 1280px) {
 .profilebox {
     gap : 10vmin;
 }
 .avatar {
    width: 30vmin;
 }
 .btn {
    width: 50vmin;
   height: 20vmin;
 }
}