.profilebox {
    width: 100%;
    height: 100%;
    display: grid;
   grid-template-rows: 1fr 1fr;
   gap: 20px;
}
.avatar {
    width: 15%;
    aspect-ratio: 1/1;
    background-color: rgb(33, 32, 32);
    min-width: 240px;
    min-height: 240px;
    align-self: center;
    position: relative;
    top: 2%;
    border-radius: 50%;
    background-size: cover;
    transition: all 1s ease 0s;
    border: 2px solid #4257FF;
    overflow: visible;
    margin: 0 auto;
}
.avatar::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: -5px; /* mở rộng ra ngoài */
    border: 10px solid #4257FF;
    filter: blur(8px);
    z-index: 1;
}
/* Animation avatar */

.avatar:hover {
    transform: scale(1.25);
}

.buttonbox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    flex: 0.85;
    font-size: 16px;
    padding-bottom: 2%;
    justify-content: space-around;
}
.btn {
    width: 40%;
    aspect-ratio: 4/0.8;
    background-color: black;
    color: white;
    border-radius: 40px;
    background: #71D9E3;
    background: linear-gradient(to right, #71D9E3 0%, #4257FF 100%);
    border: none;
    font-weight: bold;
    min-width: 240px;
    min-height: 120px;
    
}
.facebook {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    transition: all 0.5s ease 0s;
    outline: none;
    cursor: pointer;
    text-shadow: 0 0 5px;
    box-shadow: 0 0 1em 0.1em #4257FF;
}
.facebook:hover {
    transform: scale(1.25);
}
.github {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    padding-right: 20px;
     transition: all 0.5s ease 0s;
     cursor: pointer;
     text-shadow: 0 0 5px;
    box-shadow: 0 0 1em 0.1em #4257FF;
}
.github:hover {
    transform: scale(1.25);
}
.youtube {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
     transition: all 0.5s ease 0s;
     cursor: pointer;
     text-shadow: 0 0 5px;
    box-shadow: 0 0 1em 0.1em #4257FF;
}
.youtube:hover {
    transform: scale(1.25);
}