html {
  max-height: 1200px;
}
body {
 margin: 0;
  font-size: 16px;
  line-height: 1.5;
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
    background-color:black;
}
#root {
 height: 100vh;
}

h1 { font-size: 3rem; }   /* 48px */
h2 { font-size: 2.5rem; } /* 40px */
h3 { font-size: 2rem; }   /* 32px */
h4 { font-size: 1.5rem; } /* 24px */
h5 { font-size: 1.25rem; }/* 20px */
h6 { font-size: 1rem; }   /* 16px */
small { font-size: 0.875rem; } /* 14px */